{% extends 'base.html' %}

{% block body %}
<img src="{{ movie.poster_url }}" alt="{{ movie.title }}" style="width:20vw;">
<h3>제목: {{ movie.title }}</h3>
<hr>
<p>관객수: {{ movie.audience }}명</p>
<p>장르: {{ movie.genre.name }}</p>
<p>줄거리: {{ movie.description }}</p>
{% if user.is_authenticated %}
    <form action="{% url 'movies:like' movie.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">좋아요{% if movie in user.like_movies.all %}취소{% endif %}({{ movie.like_users.count }})</button>
    </form>
{% endif %}
<a href="{% url 'movies:index' %}"><button>돌아가기</button></a>
{% for review in movie.review_set.all %}
    <p><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a>: {{ review.content }} ({{ review.score }}점)</p>
    {% if user == review.user %}
        <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST" onclick="return confirm('삭제하시겠습니까?')">
            {% csrf_token %}
            <button type="submit">삭제하기</button>
        </form>
    {% endif %}
{% empty %}
    <p>평점이 없어요</p>
{% endfor %}

{% if user.is_authenticated %}
    <form action="{% url 'movies:review_create' movie.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">확인</button>
    </form>
{% endif %}
{% endblock %}